@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Mono', monospace;
}

body a{
    color: black;
    text-decoration: none;
}

nav {
    background-color:#F8F9F9;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav * {
    display: inline;
    font-size: 60px;
}

nav li a {
    color: black;
    text-decoration: none;
}

.intro {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    font-size: 100px;
    background: url(Assets/background-image.jpg) no-repeat center center fixed; 
   background-size: cover;
}

.intro h3 {
  margin-left: 300px;
  font-size: 125px;
}

.intro p {
  margin-left: 300px;
  font-size: 30px;
}

.kfr-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.kfr-title {
  display: flex;
  justify-content: center;
  min-height: 20%;
}

.kfr-title a {
 color: white;
 text-decoration: underline;
}

.kfr-title h5 {
  font-size: 100px;
  margin-top: 50px;
}

.kfr-content-container {
  display: flex; 
  max-width: 100%;
  min-height: 80%;
}

.kfr-content-card p {
  color: white;
}



.kfr-content-card-img {
  max-width: 400px;
  height: 400px;
  object-fit: cover;
}



.hot-pot-hero {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    width: 100%;
    height: 85vh;
    margin-top: 100px;
}

.hot-pot-content-card {
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

.hot-pot-checklist,
.hot-pot-img {
    max-width: 800px;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    object-fit: contain;
}

