@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    background-color: #F8F9F9;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000vh;
    margin-top: 80px;
    padding: 30px;
}

body a{
    color: black;
    text-decoration: none;
}

nav {
    background-color:#F8F9F9;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

nav * {
    display: inline;
    font-size: 50px;
}

nav li a {
    color: black;
    text-decoration: none;
}

.intro {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 100px;
}

.intro form {
    font-size: 50px;
    border: 5px black solid;
    margin-bottom: 400px;
    padding: 10px;
    border-radius: 20px;
}

.intro form:hover {
    background-color: #FCF3CF;
    cursor: pointer;
}

.kimchi-fried-rice-hero {
    display: flex;
    justify-content: space-around;
    background-color: white;
    font-size: 50px;
    width: 100%;
    height: 85vh;
}

.kimchi-content-card {
    max-height: 100%;
    max-width: 100%;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

.kimichi-fried-rice-checklist,
.kimchi-fried-rice-img {
    min-width: 800px;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.hot-pot-hero {
    display: flex;
    justify-content: space-around;
    background-color: white;
    font-size: 50px;
    width: 100%;
    height: 85vh;
    margin-top: 100px;
}

.hot-pot-content-card {
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

.hot-pot-checklist,
.hot-pot-img {
    max-width: 800px;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    object-fit: contain;
}

/* content card section */

section {
    background-color: #eaeff1;
  font-family: "Raleway", sans-serif;
}

section img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

#container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
  }

  .card {
    /* Change background color */
    background-color: white;
  
    /* Add border */
    border: 1px solid #bacdd8;
  
    /* Add space between the border and the content */
    padding: 8px;
  
    border-radius: 12px;
  }


/* Style div elements that have class equal to tag */
.tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
  
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
  }
  
  /* Style div elements that have class equal to name */
  .name {
    font-size: 24px;
    font-weight: 600;
  
    margin-top: 16px;
  }
  
  /* Style p element */
  p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  
  /* Style button element */
  button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
  
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
  
    /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin: 0 auto;
    display: block;
  
    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;
  }
  
  .card__details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
  }

  /* Add style when button is focused or hovered */
button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}