@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
/* font-family: 'Roboto', sans-serif; */



* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    background-color:#F8F9F9;

}

body a {
    color: black;
    text-decoration: none;
}

nav {
    background-color:black;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav * {
    display: inline;
    font-size: 60px;
}

nav li a {
    color: white;
    text-decoration: none;
}

.kfr-main-pic {
    width: 100vw;
    height: 50vh;
}

.kfr-main-pic img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.kfr-rp-container {
    min-width: 100vw;
    height: 100vh;
}

.kfr-rp-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    min-width: 100vw;
    height: 30em;
}

.kfr-rp-heading h2 {
    font-size: 10em;
}

.kfr-rp-heading h4 {
    font-size: 2em;
}

.kfr-rp-heading h6 {
    font-size: 2em;
}

.kfr-rp-intro, 
.kfr-rp-ing,
.kfr-rp-inst {
    width: 100%;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
}

.kfr-rp-intro *,
.kfr-rp-inst * {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.7em;
}

.kfr-rp-ing * {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7em;
}

.kfr-rp-ing h4 {
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 5em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.kfr-rp-ing-container {
    display: flex;
}

.kfr-rp-ing ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5em;
    width: 50%;
    list-style-type: square;
}

.kfr-rp-ing img {
    max-width: 50%;
    max-height: 100%;
    object-fit: cover;
}

.kfr-rp-inst p {
    margin-top: 1.3em;
}